<div>
    <div style="margin: auto; width: 30rem;">
        <div class="card product-details">
            <img class="card-img-top" [src]="currentProduct.imageUrl" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{currentProduct.title}}</h4>
                <p class="card-text">{{currentProduct.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Price: </b>{{currentProduct.price | currency:'USD':true:'1.2-2'}}</li>
            </ul>
            <!-- <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div> -->
        </div>
        <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    </div>
</div>
