<div class="product-list-item">
    <div class="to-details-link" (click)="goToDetails()">
        <div class="row">
            <span class="col-md-8"><b>Name: </b>{{product.title}}</span>
            <span class="col-md-4"><b>Price: </b>{{product.price | currency:'USD':true:'1.2-2'}}</span>
        </div>
    </div>
    <div class="wrap-btns">
        <button class="btn btn-warning btn-sm" (click)="editProduct()">edit</button>
        <button class="btn btn-danger btn-sm" (click)="deleteProduct()">delete</button>
    </div>
</div>
